:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --translucent-grey: rgba(128, 128, 128, 0.5);
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.top-bar {
  display: flex;
  margin: 0;
  backdrop-filter: blur(10px);
  justify-content: left;
  align-items: center;
  overflow: visible;
  width: 100%;
  color: #000000;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.top-bar::before {
  display: block;
  width: calc(1.5em + 15px); 
}

.top-bar img {
  height: 35px;
  display: block;
  margin-left: 15px;
}

.icon-container {
  margin-left: auto;
  margin-right: 10px;
}

.popup {
  display: none;
  position: absolute;
  top: 100%; 
  left: -100%;
  transform: translateX(-50%); 
  background-color: white; 
  border: 1px solid black; 
  border-radius: 10px;
  padding: 10px;
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.icon-container:hover .popup {
  display: block;
}


.product-list, .cart-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image {
  height: 150px;
  width: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.total {
  text-align: right;
}

.cart-list {
  border: 2px solid;
  padding: 10px;
}

.home-body {
  margin-top: 65px; ;
}

h1 {
  margin: 20px;
  font-size: 1.5rem; 
}


